[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
agate = "*"
requests = "*"
six = "*"

[dev-packages]
twine = "*"
setuptools-scm = "*"
flake8 = "*"
sphinx = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
